*::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
*{
    overflow: -moz-scrollbars-none; /* Hides the scrollbar */
 }
.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poller-one-regular {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
